/* Mobile & Tablet */
@media (max-width: 1023px) {
  .header {
    min-height: unset;
  }

  .header__toggle {
    display: block;
  }

  .header__main {
    padding-top: 9rem;
  }

  .header__bottom {
    margin-top: 6.5rem;
  }

  .header__menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--white-color);
    width: 300px;
    display: block;
    padding: 20px 25px;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.25s ease-in;
    margin-bottom: 0;
    z-index: 2;
  }

  .header__menu-item:not(:first-child) {
    margin: 0;
  }

  .header__menu-link {
    color: var(--title-color);
    width: 100%;
    padding: 15px;
    border-radius: 4px;
  }

  .header__menu-link:hover {
    color: var(--white-color);
    background-color: var(--secondary-color);
  }

  .header__menu-icon {
    display: block;
    color: var(--title-color);
    width: 100%;
    padding: 15px;
    border-radius: 4px;
  }

  .header__menu-icon:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  .home_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    transition: all 0.2s linear;
    z-index: 1;
  }

  .nav__input:checked ~ .home_overlay {
    display: block;
  }

  .nav__input:checked ~ .header__menu {
    transform: translateX(0);
  }

  .header__bottom-text {
    display: none;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .header__main-caption {
    font-size: 6.2rem;
  }

  .header__main-title {
    font-size: 8rem;
  }

  .about {
    padding: 9rem 0 9rem;
  }

  .service {
    padding: 7rem 0 7rem;
  }

  .device {
    padding-top: 8rem;
  }

  .wedo {
    padding: 8rem 0 6rem;
  }

  .team {
    padding: 6rem 0 8rem;
  }

  .brand {
    padding: 4rem 0;
  }

  .brand__image {
    height: unset;
  }

  .work {
    padding: 6rem 0 6rem;
  }

  .customer {
    padding-bottom: 6rem;
  }

  .client {
    padding: 6rem 0;
  }

  .blog {
    padding: 6rem 0;
  }

  .map {
    padding: 2.5rem 0;
  }

  .footer {
    padding-top: 4.5rem;
  }

  .number__item-count {
    font-size: 4.2rem;
  }

  .blog__item-date {
    font-size: 2rem;
  }

  .blog__item-meta {
    padding: 1rem;
    top: -8.2rem;
    left: -1rem;
  }

  .blog__item-title {
    font-size: 1.3rem;
  }

  .blog__item-desc {
    font-size: 1.2rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header__main-caption {
    font-size: 4rem;
  }

  .header__main-title {
    font-size: 6rem;
  }

  .header__main {
    padding-bottom: 6rem;
  }

  .header__bottom {
    display: none;
  }

  .about {
    padding: 6rem 0 4rem;
  }

  .about__list {
    padding: 1rem;
  }

  .about__item {
    width: 100%;
    margin-bottom: 2rem;
  }

  .number__item {
    padding: 2rem 3.5rem;
    border: none;
  }

  .number__item-count {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .number__item-text {
    font-size: 1.4rem;
  }

  .number__item:last-child {
    border-right: none;
  }

  .service {
    padding: 6rem 0 6rem;
  }

  .device {
    padding-top: 6rem;
  }

  .device__image {
    margin: 0 auto -5rem;
  }

  .wedo {
    padding: 4rem 0;
  }

  .wedo__image {
    margin-bottom: 2rem;
  }

  .quote__item-media {
    text-align: center;
  }

  .quote__item-image {
    margin: 0 auto 1rem;
  }

  .team__list {
    padding: 0 1rem;
  }

  .team__item {
    width: 100%;
    margin-bottom: 1rem;
  }

  .team__item-author {
    padding-top: 1rem;
  }

  .team {
    padding: 5rem 0 5rem;
  }

  .brand__image {
    height: unset;
  }

  .brand {
    padding: 4rem 0;
  }

  .work {
    padding: 6rem 0 6rem;
  }

  .customer__item-image {
    width: 50%;
  }

  .customer__item-media {
    text-align: center;
  }

  .customer__item-image {
    margin: 0 auto 1rem;
  }

  .customer {
    padding-bottom: 4rem;
  }

  .client {
    padding: 6rem 0;
  }

  .client__item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
  }

  .client__image {
    margin-bottom: 1rem;
  }

  .client__media {
    justify-self: center;
  }

  .client__name {
    text-align: center;
  }

  .blog {
    padding: 6rem 0;
  }

  .blog__item,
  .footer__logo,
  .footer__desc,
  .footer__social {
    margin-bottom: 2rem;
  }

  .blog__item-meta {
    left: 0;
  }

  .footer {
    padding-top: 4.5rem;
  }

  .footer__bottom {
    margin-top: 4rem;
  }
}
